body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.register-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 16px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #36D2C9;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2bb3a8;
}

.cancel-button {
    display: inline-block;
    width: 48%;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    background-color: #ccc;
    color: #333;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cancel-button:hover {
    background-color: #b3b3b3;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    max-width: 100px;
}

#menuToggle {
    position: fixed;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 50px;
    color: #817E94;
    z-index: 1001;
    /* Asegura que el botón esté siempre sobre el menú */
}

#menu {
    display: none;
    position: fixed;
    /* Cambiado a fixed para que esté en la esquina */
    top: 50px;
    /* Ajusta esta posición para alinear verticalmente el menú con el botón */
    left: 10px;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu ul li {
    padding: 10px 15px;
}

#menu ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

#menu ul li a:hover {
    background-color: #f0f0f0;
}