body {
    font-family: 'Inter Black', black;
    font-size: 24px; /* Tamaño de letra de 24px para el título */
    font-weight: bold; /* Hace que todo el texto del body sea más grueso */
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
  
    min-height: 90vh;
    width: 100%;
    
    
}
.container {
    width: 90%;
    font-family: 'Inter Black', black;
}

.header {
    font-family: 'Inter Black', black;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    
}

.header h1 {
    font-family: 'Inter Black', black;
    margin: 20px;
    width: 100%;
    padding: 20px 0;
    border-radius: 8px 8px 0 0;
    color: rgb(0, 0, 0); /* Cambia el color del texto a azul */
}



.user-info {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px; /* Ajusta el margen derecho según sea necesario */
}

#searchInput{
    color: #000;
    background-color: #BCCBD8;
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
   width: 30%;

}

#searchInput:hover {
    border-color: #817E94; /* Cambia el color del borde cuando se hace hover */
}

#searchInput:focus {
    border-color: #817E94; /* Cambia el color del borde cuando se hace clic */
    outline: none; /* Elimina el contorno predeterminado */
}
.search{
    display: flex;
    width: 100%;
    margin-right: 100x; /* Ajusta el margen derecho según sea necesario */
    align-items: center; /* Alinea verticalmente los elementos */

}
#searchButton {
    margin-left: 10px; /* Ajusta el margen izquierdo del botón */
    height: 25px; /* Ajusta la altura del botón según sea necesario */
}




.user-actions {
    display: flex; /* Establece el contenedor como un contenedor flex para alinear los elementos en una fila */
    flex-direction: row; /* Establece la dirección de los elementos flex como fila */
     vertical-align: middle;
}

#menuToggle {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 50px; /* Ajusta el tamaño del ícono de la hamburguesa */
    color: #817E94; /* Cambia el color del ícono del toggle menu */
    margin-right: 100px; /* Ajusta el margen derecho según sea necesario */
}

#menuToggle:focus {
    outline: none;
}

#menu {
    display: none;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    margin-bottom: 10px;
}

#menu ul li a {
    text-decoration: none;
    color: #817E94;
    font-size: 18px;
}

/* Muestra el menú cuando el botón de hamburguesa se hace clic */
#menuToggle:checked + #menu {
    display: block;
}


.user-info {
    display: flex; /* Establece el contenedor como un flex container */
    flex-direction: row; /* Organiza los elementos en una fila */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
    border: 2px solid #000; /* Grosor del borde, tipo de borde y color */
}


.user-info,h4 {
    font-size: 17px; /* Establece el tamaño de letra del título */
    /* Otros estilos que desees aplicar al título */
}

.tittles {
    display: flex;
    padding-left: 5%;
    background-color: #BCCBD8;
    width: 80%; /* Ancho del contenedor */
    border: 2px solid #000; /* Grosor del borde, tipo de borde y color */
}
  
h2 {
    margin-right: 80px; /* Espacio entre los elementos h2 */
    color: black;
}

h2.emailTittle{
   padding-left: 20px;

}
h2.cedulaTittle{
    padding-left: 0px;
    width: 80px;

}

h1.tittlePage{
    padding-left: 100px;
    width: 55%;
}

.user-actions,button {
    width: 100px; /* Establece el ancho deseado */
    height: 30px; /* Opcional: ajusta la altura */
    font-size: 14px; /* Opcional: ajusta el tamaño del texto */
}
