body {
    font-family: 'Inter Black', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    min-height: 90vh;
    width: 100%;
}

.container {
    width: 90%;
}

.header {
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.header h1 {
    margin: 20px 0;
    padding: 20px 0;
    border-radius: 8px 8px 0 0;
    color: rgb(0, 0, 0);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#searchInput {
    color: #000;
    background-color: #BCCBD8;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 30%;
    box-sizing: border-box;
}

#searchInput:hover,
#searchInput:focus {
    border-color: #817E94;
    outline: none;
}

#searchButton {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #817E94;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

.titles {
    display: flex;
    justify-content: space-around;
    background-color: #BCCBD8;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 8px;
}

.titles h2 {
    color: black;
    margin: 0 10px;
}

#menuToggle {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 50px;
    color: #817E94;
}

#menuToggle:focus {
    outline: none;
}

#menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    margin-bottom: 10px;
}

#menu ul li a {
    text-decoration: none;
    color: #817E94;
    font-size: 18px;
}

#menu ul li a:hover {
    color: #000;
}

.dashboard {
    padding: 20px;
}

.user-info {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
}

.user-detail {
    flex: 1;
    text-align: center;
    padding: 5px;
}

.user-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-actions button {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #817E94;
    color: #fff;
    cursor: pointer;
}

/* Estilos para el modal de confirmación */
.modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    /* Fijo */
    z-index: 1;
    /* Sobre otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Habilita el scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.6);
    /* Fondo negro con opacidad */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    /* Centrado vertical y horizontal */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 80%;
    /* Ancho */
    max-width: 400px;
    /* Máximo ancho */
    text-align: center;
    /* Centrado de texto */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: modalFadeIn 0.3s;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal p {
    font-size: 18px;
    margin-bottom: 20px;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
}

.modal button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#confirmYes {
    background-color: #28a745;
    /* Verde */
    color: white;
}

#confirmNo {
    background-color: #dc3545;
    /* Rojo */
    color: white;
}

#confirmYes:hover {
    background-color: #218838;
}

#confirmNo:hover {
    background-color: #c82333;
}