body {
    font-family: 'Inter Black', black;
    font-size: 24px; /* Tamaño de letra de 24px para el título */
    font-weight: bold; /* Hace que todo el texto del body sea más grueso */
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    
    
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin-top: 20px;
    
}

.title {
    position: absolute; /* Cambia la posición a absolute */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    width: 100%;
    padding: 20px 0;
    border-radius: 8px 8px 0 0;
    

}


.login-form {
    margin-top: 50px;
    background-color: #A5B4C2;
    width: 300px;
    border-radius: 40px; /* Ajusta el valor según la cantidad de redondez que desees */
    padding: 20px; /* Opcional: Añade un espacio alrededor del formulario */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Hace que todo el texto del body sea más grueso */
    font-size: 18px; /* Tamaño de letra de 24px para el título */
}

.form-group input,
button {
    width: calc(100% - 40px); /* El ancho es el 100% menos el padding izquierdo y derecho */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #BCCBD8; /* Cambia el color de fondo dentro del input */
    font-weight: bold; /* Hace que todo el texto del body sea más grueso */
    border-radius: 0px; /* Redondeo de 10px para los inputs y botones */
    
    
}

button {
    background-color: #6CE4DD;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px; /* Tamaño de letra de 16px para el texto del botón */
    width: 281px; /* Ancho de 250px para el botón */
    border-radius: 0px; /* Redondeo de 10px para los inputs y botones */
    margin-bottom: 13px; /* Ajusta el margen inferior entre los botones */
}

button:hover {
    background-color: #36D2C9;
}

.form-group label {
    display: inline-block; /* Cambia a inline-block */
    width: 100px; /* Ancho fijo para los labels */
    text-align: left; /* Alinea el texto del label a la izquierda */
    margin-right: 180px; /* Espacio entre el label y el input */
    font-weight: bold;
}

.logo-container {
    
    margin-top: 40px; /* Separación del contenedor del logo desde arriba */
    
}

.logo {
    max-width: 100px; /* Ancho máximo del logo */
    
}

.form-group label {
    white-space: nowrap; /* Evita que el texto del label haga saltos de línea */
}

.form-group.Id {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 80px;
    
}

.form-group.Id label {
    margin-bottom: 8px;
}

.form-group.Id input,
.form-group.Id button {
    width: 100%;
    max-width: 300px; /* Puedes ajustar este valor según tus necesidades */
    margin-bottom: 8px;
    box-sizing: border-box;
}

.user-actions {
    display: flex; /* Establece el contenedor como un contenedor flex para alinear los elementos en una fila */
    flex-direction: row; /* Establece la dirección de los elementos flex como fila */
     vertical-align: middle;
}

#menuToggle {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 50px; /* Ajusta el tamaño del ícono de la hamburguesa */
    color: #817E94; /* Cambia el color del ícono del toggle menu */
    margin-right: 100px; /* Ajusta el margen derecho según sea necesario */
}

#menuToggle:focus {
    outline: none;
}

#menu {
    display: none;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    margin-bottom: 100px;
}

#menu ul li a {
    text-decoration: none;
    color: #817E94;
    font-size: 18px;
}

/* Muestra el menú cuando el botón de hamburguesa se hace clic */
#menuToggle:checked + #menu {
    display: block;
}



