/* General */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #C7F7F7;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    /* Aumenta el tamaño de los enlaces */
    font-weight: bold;
    margin-bottom: 40px;
    /* Aumenta el espacio entre los enlaces */
    text-align: center;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #D9D9D9;
}

.logout a {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    /* Aumenta el tamaño del enlace de logout */
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease;
}

.logout a:hover {
    color: #D9D9D9;
}

/* Content */
.content {
    margin-left: 440px;
    /* Ajusta el margen para la sidebar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centra verticalmente el contenido */
    align-items: center;
    /* Centra horizontalmente el contenido */
    height: 100vh;
    /* Ajusta la altura del contenedor al 100% del viewport */
    text-align: center;
}

.content h1 {
    color: #666666;
    font-size: 27px;
    font-family: 'Pacifico', cursive;
    margin-bottom: 20px;
}

.logos-container {
    margin-top: 20px;
    /* Reduce el margen superior */
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    height: 200px;
    overflow: hidden;
}

.logo {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}